/* You can add global styles to this file, and also import other style files */
@use '@/assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use '@/assets/demo/demo.scss';

.p-error {
  color: var(--p-inputtext-invalid-border-color);
}

